<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <h2 class="titulo">Agregar producto</h2>


    <form (ngSubmit)="onSubmit()" #forPedido="ngForm">

        

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre del producto:</label>
                <input class="form-control" matInput name="nombre" [(ngModel)]="pedidoModel.nombre"
                type="text" placeholder="Nombre del producto">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Precio:</label>
               
                <input class="form-control" matInput name="raza" [(ngModel)]="pedidoModel.precio"
                type="text" placeholder="$">
          
              </div>

              <br>
             
<div class="otroContenedor">
    <button class="guardarButton" type="submit" >Guardar</button> &nbsp;
    <button class="guardarButton" (click)="volver()" type="button">Volver</button>
</div>

             
            </form>
            
        </div>

        

</body>
</html>






